*{
    margin: 0;
    padding: 0;
}

h2{
    font-size: medium;
}

.navbar{
    padding-left: 5%;
    padding-right: 5%;
}

.background-btn{
    margin-left: 0.5rem;
}

.technikum-logo{
    height: 3rem;
}

.row{
    padding-top: 2rem;
}

.btn-group-vertical{
    width: 100%;
    margin-bottom: 2rem;
}

.btn-outline-primary{
    padding-top: 1rem;
    padding-bottom: 1rem;
    --bs-btn-color: #000000;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #000000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #000000;
    --bs-gradient: none;
}

@media (max-width: 768px){
    .btn-outline-primary{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.col{
    justify-content: center;
}

.col-cards{
    padding-top: 0;
}

.card{
    width: 95%; 
    height: 20rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

@media (max-width: 768px){
    .card{
        width: 100%;
        height: 14rem;
    }
}

.card-date-time{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
}

@media (max-width: 768px){
    h1{
        font-size: 3rem;
    }
}

.card-gallery{
    overflow: hidden;
}

.card-carousel{
    padding: 0;
}

.carousel-item img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

@media (max-width: 768px){
    .carousel-item img{
        height: 14rem;
    }
}

.card-clickable:hover{
    box-shadow: 0px 0px 0.5rem 0px rgba(0, 0, 0, 0.238);
}

.card-nonclickable{
    border: none;
    background-color: transparent;
}

.card-body{
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px){
    .fa-10x {
        font-size: 7em;
    }
}

@media (min-width: 769px){
    .fa-list {
        margin-top: 2rem;
    }
    .fa-calendar{
        margin-top: 2rem;
    }
    .fa-address-book{
        margin-top: 2rem;
    }
}

.fa-cl{
    color: black;
}

.col-12{
    background-color: transparent;
}

.list-group{
    background-color: transparent;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 1rem;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f1f1f1;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .fontM{
    font-size: 1rem;
  }

  .fontP{
    font-size: 1.5rem;
    font-weight: bold;
  }

  .d-font{
    margin-left:1rem;
    display: flex;
    align-items: flex-end;
  }