.container-todo{
    margin-top: 2em;
    height:auto;
}

div.row{
    padding: 0;
}

div.col-1{
    display: flex;
    align-items: center;
}

div.col-6{
    display: flex;
    align-items: center;
}

button.btn btn-dark{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

input.btn-dark{
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.date-p{
    margin-top: 0 !important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.col-sm{
    justify-content: center;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px){
    .col-sm{
        justify-content: left;
    }
}

.submit-btn{
    display: flex;
    align-items: flex-end;
}

.col-xl-8{
    margin-bottom: 0.5rem;
}

form{
    margin-bottom: 1rem;
}

p{
    margin-bottom: 0.1rem;
}