.container-todo{
    margin-top: 2em;
    height:auto;
}

div.row{
    padding: 0;
}

div.col-1{
    display: flex;
    align-items: center;
}

div.col-6{
    display: flex;
    align-items: center;
}

button.btn btn-dark{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.col-2{
    display:flex;
    align-content: flex-end;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}

@media (max-width: 768px){
    .col-sm{
        justify-content: left;
    }
}

.submit-btn{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

form{
    margin-bottom: 1rem;
}

p{
    margin-bottom: 0.1rem;
}

.h2{
    font-size: medium;
}